:root {
	--color-gray-light: #d1c7c7;
	--color-gray-medium: #665959;
	--header-height:3em;
}

* {
	box-sizing:border-box;
}

.ui-mobile section {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	display:none;
}
.ui-mobile section.ui-page-active {
	display:flex;
	flex-direction:column;
}
.ui-mobile [data-role="main"] {
	flex: 1 1 auto;
}



.ui-footer,
.ui-header {
	border-width:0;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	height:var(--header-height);
}



.fill-height { height:100%; }



.hidden { display:none; }


.flex-parent { display:flex; }
.flex-child { flex: 1 1 auto; }
.flex-none { flex: none; }
.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-wrap { flex-wrap:wrap; }
.flex-vertical { flex-direction:column; }


.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right { text-align:right; }





.nav ul {
	list-style-type:none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	display:flex;
	position:relative;
}
.ui-footer.nav li {
	flex: 1 1 auto;
	text-align:center;
}
.nav a {
	display:block;
	line-height:var(--header-height);
	padding:0 1em;
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}
.ui-header .ui-title {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	line-height:var(--header-height);
	margin:0;
	padding:0;
}







.form-control {
    margin-top: 1em;
    margin-bottom: 1em;
}
.form-input {
    background-color: transparent;
    border-width: 0;
    border-bottom: 1px solid var(--color-gray-medium);
    width: 100%;
    display: inline-block;
    outline: 0;
    font:inherit;
    color:inherit;
    padding:0.2em 1em;
}
.ui-mobile .form-label {
    margin: 0;
    font-size: 0.7em;
    color:var(--color-gray-medium);
}
.form-button {
    background-color: var(--color-gray-medium);
    color: white;
    width: 100%;
    border-width: 0;
    padding: 0.2em 1em;
    font: inherit;
    outline:0;
}
.form-blank {
	border-width:0;
	background-color:transparent;
	font:inherit;
	color:inherit;
	width:100%;
	outline:0;
}
.hotdog {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 2em;
    background-color: var(--color-gray-light);
    border-width: 0;
    color: white;
    font: inherit;
    display:flex;
}






.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition:all 0.3s;
}
.modal.active {
	opacity:1;
}

.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal.active .modal-back,
.modal.active .modal-popup {
    pointer-events: initial;
}

.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 4em));
    width: calc(100% - 4em);
    max-height: calc(100% - 4em);
    transition: all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
}

.modal-head,
.modal-foot {
	background-color:var(--color-gray-light);
	height:var(--header-height);
	line-height:var(--header-height);
}
.modal-body {
	background-color:white;
	padding:1em;
}
.modal-popup>:first-child {
	border-radius: 5px 5px 0 0;
}
.modal-popup>:last-child {
	border-radius: 0 0 5px 5px;
}